+++
title = "DevLake"
linkTitle = "DevLake"

+++

<!--标题-->
{{< blocks/cover title="Welcome to DevLake" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs/" >}}quick-start/1.localsetup/">
		<img src="/images/Flash.png"/><i class="fas"></i> Quick start 
	</a>
	<a class="btn btn-lg btn-light mr-3 mb-4" href="https://github.com/merico-dev/lake">
		<img src="/images/Github.png"/><i class="fas"></i> GitHub
	</a>
	<!--副标题-->
	<p class="lead mt-5">Make better sense of your software development process by ingesting, analyzing, and visualizing data from an ever-growing list of developer tools</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}

<!--简介-->
{{% blocks/lead color="primary" %}}
<img src="/images/lead.png" style="width: 100%;">
{{% /blocks/lead %}}


<!--下方三图标按钮-->
{{< blocks/section color="dark" type="features">}}
{{% blocks/feature icon="/images/SilosConnected.png" title="Silos Connected" url="https://github.com/merico-dev/lake" %}}
Collect DevOps data across the entire SDLC process and connect data silos
{{% /blocks/feature %}}


{{% blocks/feature icon="/images/Out-of-the-boxAnalysis.png" title="Out-of-the-box Analysis" url="https://github.com/merico-dev/lake" %}}
A standard data model and out-of-the-box metrics for software engineering
{{% /blocks/feature %}}


{{% blocks/feature icon="/images/HighlyFlexible.png" title="Highly Flexible" url="https://github.com/merico-dev/lake" %}}
Flexible framework for data collection and ETL, support customized analysis
{{% /blocks/feature %}}

<!--底部-->
{{< /blocks/section >}}

